html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
//êîíåö ðàçäåëà reset style

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?uyeo8l');
    src:    url('../fonts/icomoon.eot?uyeo8l#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uyeo8l') format('truetype'),
    url('../fonts/icomoon.woff?uyeo8l') format('woff'),
    url('../fonts/icomoon.svg?uyeo8l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #fff;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;

  background-color: #f1f1f1;
}

.icon-behance:before {content: "\e900";}
.icon-google:before {content: "\e901";}
.icon-facebook:before {content: "\e902";}
.icon-twitter:before {content: "\e903";}
.icon-dribbble:before {content: "\e904";}
.icon-skype:before {content: "\e905";}
.icon-linkedin2:before {content: "\e906";}

.site-wraper {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0  0 15px 0 rgba(0, 1, 1, 0.7)
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    padding: 0 30px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;

    border-radius: 5px;
    border: 2px solid white;

    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    font-family: 'Roboto', 'Tahoma', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.view-more-btn {
    margin-right: 8px;

}

.btn:hover {
    background: #23b7a4;
    border: 2px solid #23b7a4;
}

section h2 {
    position: relative;
    margin-bottom: 54px;
    padding-left: 25px;

    color: #292f36;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-family: 'Roboto', 'Tahoma' sans-serif;
    font-weight: 700;
}

.work-title,
.features h2 {
    color: #ffffff;
}

section h2::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 10px;
    height: 35px;
    background-color: #e1e6ea;
    z-index: 10;
}

.header {
    background-color: #1d2126;
}
.logo {
    float: left;
    padding: 30px 0;
}

.menu {
    float: right;
}

.menu-item {
    display: inline-block;
    margin: 26px 0 25px 15px;
}

.menu-item:first-child {
    margin-left: 0;
}
.menu-item:nth-child(2) {
    margin-left:28px;
}

.menu-item:last-child {
    margin-left:7px;
}

.menu-link {
    display: inline-block;
    padding: 7px 10px;

    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #a4aead;
    font-size: 14px;
}

.menu-item:hover {
    border-radius: 3px;
    box-shadow: 0 0 0 2px #5b6168;
}

.menu-item-active {
    border-radius: 3px;
    box-shadow: 0 0 0 2px #23b7a4;
}

.menu-item-active:hover {
    box-shadow: 0 0 0 2px #23b7a4;
}

.menu-item-active .menu-link {
    color: #23b7a4;
}

.banner {
    min-height: 660px;
    padding: 10px 0;
    box-sizing: border-box;

    background: #544e47 url("../img/banner.jpg") no-repeat center;
}

.welcome {
    min-height: 230px;
    padding: 15px 45px;
    margin-top: 200px;

    background-image: linear-gradient(90deg, rgba(58, 69, 77, 0.9) 0%, rgba(58, 69, 77, 0.7) 90%, rgba(58, 69, 77, 0) 100%);
}

.welcome-title {
    margin-top: 22px;

    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
    font-family: 'Roboto', 'Tahoma', sans-serif;

    color: #ffffff;
}

.welcome-text {
    width: 650px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 8px;

    font-size: 16px;
    line-height: 26px;
    font-family: 'Open Sans', 'Arial', sans-serif;

    color: #ccd0d7;
}

.welcome-btns {
    padding-bottom: 208px;
}

.paginator {
    margin-left: 1082px;
    font-size: 0;
}

.toggle {
    display: inline-block;
    margin-left: 9px;
    width: 9px;
    height: 9px;

    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #fff;
    border-radius: 50%;
}

.toggle:first-child {
    margin-left: 0;
}

.active-toggle {
    background-color: #fff;
}

.about {
    padding: 80px 0 30px;
    box-sizing: border-box;

    background: #fff;
    border-bottom: 1px solid #dde1e4;
}

.about-missions {
    width: 655px;
    float: left;

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;

    color: #8d8f92;
}

.about-missions p {
    margin-bottom: 26px;
}

.about-missions p:last-of-type{
    margin-bottom: 46px;
}

em {
    font-weight: bold;
}

.about-social {
    font-size: 0;
}

.social-btn {
    display: inline-block;
    width: 60px;
    height: 20px;
    padding: 20px 0;
    margin-right: 15px;

    text-align: center;
    text-decoration: none;
    font-size: 22px;

    background-color: #c8cdd0;
    background-image: url("../img/social-icon.png");
    background-repeat: no-repeat;
    background-position:
}

.social-btn:last-child {
    margin-right: 0;
}

.social-btn-vk {

    background-position: 9px 19px;
}

.social-btn-classmates {
    background-position: 18px -35px;
}

.social-btn-vk:hover {
    background-color: #4d739c;
}

.social-btn-classmates:hover {
    background-color: #f6851f;
}

.about-goals {
    width: 460px;
    padding-top: 8px;
    float: right;
}

.goal {
    position: relative;

    padding-left: 70px;
    margin-bottom: 25px;
}

.goal::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 50px;
    height: 50px;
    box-sizing: border-box;

    font-size: 20px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: "Roboto", 'Tahoma', sans-serif;

    background-color: #23b7a4;
    color: #ffffff;
}

.goal-1::before {
    content: "01";
}

.goal-2::before {
    content: "02";
}

.goal-3::before {
    content: "03";
}

.goal-title {
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 18px;
    vertical-align: top;
    font-family: "Roboto", 'Tahoma', sans-serif;
    text-transform: uppercase;

    color: #292f36;
}

.goal-text {
    font-size: 16px;
    line-height: 26px;
    font-family: 'Open Sans', 'Arial', sans-serif;

    color: #8d8f92;
}

.advantages,
.principles {
    padding-top: 80px;
    background-color: #fff;
}

.actions {
    display: none;
    position: absolute;
    top: 125px;
    left: 56px;
    font-size: 0px;
}

.advantages-items {
    padding-top: 5px;

    font-size: 0;
}

.advantage-item {
    display: inline-block;
    width: 262.5px;
    min-height: 300px;
    margin-right: 30px;
    margin-bottom: 100px;
    box-sizing: border-box;

    background-color: #e1e6ea;

    transition: ease 0.3s;
}

.advantage-item:nth-of-type(4n) {
    margin-right: 0;
}

.advantage-item:hover {
    background-color: #3a454d;
}

.advantage-item-img {
    position: relative;

    height: 300px;
}

.advantage-img {
    width: 100%;
    height: auto;
}

.actions {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    background-color: rgba(255, 255, 255, 0);

    transition: ease 0.4s;
}

.action-description {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    min-height: 75px;
    padding: 15px 30px;
    box-sizing: border-box;

    font-size: 14px;
    line-height: 26px;
    font-family: "Roboto", 'Tahoma', sans-serif;
    text-align: center;

    color: rgba(255, 255, 255, 0);
    background-color: rgba(58, 69, 77, 0);
    transform: translateY(-50%);

    transition: ease 0.4s;
}

.advantage-info {
    height: 75px;
    padding: 17px 0 0 20px;
    box-sizing: border-box;
}

.advantage-name {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Roboto", 'Tahoma', sans-serif;

    color: #292f36;
}

.advantage-item:hover .actions {
    background-color: rgba(255, 255, 255, 0.4);
}

.advantage-item:hover .action-description {
    background-color: rgba(58, 69, 77, 0.9);
    color: rgba(255, 255, 255, 1);
}

.advantage-item:hover .advantage-name {
    color: #ffffff;
}

.advantage-position {
    padding-top: 7px;
    padding-bottom: 20px;
    font-size: 14px;
    color: #8d8f92;
}

.work,
.features {
    padding-top: 80px;
    color: #fff;
    background-color: #3a454d;
    padding-bottom: 60px;
}

.portfolio {
    padding-top: 3px;

    font-size: 0;
}

.portfolio-item {
    position: relative;

    display: inline-block;
    width: 360px;
    min-height: 265px;
    margin: 0 30px 30px 0;
}

.portfolio-item:nth-of-type(3n) {
    margin-right: 0;
}

.portfolio-img {
  width: 100%;
  height: auto;
}

.portfolio-action {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: calc(100% - 60px);

  background-color: rgba(41, 47, 54, 0.5);
  background-image: url("../img/icon-plus.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;

  transition: opacity linear 0.2s;
}

.portfolio-description {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 15;

  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;

  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 60px;
  vertical-align: middle;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #292f36;
  opacity: 0;

  transition: opacity linear 0.2s;
}


/*
.work-action {
    position: absolute;
    display: none;
    width: 324px;
    left:0;
    bottom: 0;
    padding: 22px 18px;
    text-transform: uppercase;
    font-family: 'Roboto', 'Tahoma', sans-serif;
    background-color: #292f36;
    font-size: 18px;
}

.action-img {
    position: absolute;
    display: none;
    top: 93px;
    left: 175px;
}
.portfolio-img:hover .action-img {
    display: block;
}

.portfolio-img:hover .work-action{
    display: block;
}

.portfolio-img:hover .portfolio-item {
    opacity: 0.5;
}
*/
.work-more {
    width: 151px;
    margin: 31px auto 0;
}

.more-btn {
    padding: 13px 20px;
}

.principles-item {
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 100px;
    float: left;
    width: 262px;
    font-size: 16px;
}

.principles-item:nth-child(2) {
    margin-left: 0;
}

.principles-item h3::before {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 48px;
    height: 48px;
}

.princip-complex::before{
    background: url(../img/icon-sprite.png);
    background-position: 0px -58px;
}

.princip-technological::before {
    background: url(../img/icon-sprite.png);
    background-position: 0px 0px;
}

.princip-wide-geography::before {
    background: url(../img/icon-sprite.png);
    background-position: 0px -116px;
}

.princip-maintain::before {
    background: url(../img/icon-sprite.png);
    background-position: 0px -166px;
}

.principles-item h3 {
    padding-top: 120px;
    margin-bottom: 21px;

    color: #292f36;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', 'Tahoma', sans-serif;
}

.principles-item p {
    color: #8d8f92;
    text-align: center;
    line-height: 26px;
}

.features h2 {
    margin-bottom: 57px;
}

.feature-item {
    width: 360px;
    float: left;
    margin-left: 30px;
    margin-bottom: 57px;
}

.feature-item:first-child {
    margin-left: 0;
}

.feature-item-img {
    margin-bottom: 51px;
}
.feature-item h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Roboto', 'Tahoma', sans-serif;
}

.feature-item-text {
    color: #dcdfe1;
    line-height: 26px;
}

.contact-container {
    position: relative;
}

.stereotypes {
  font-size: 0;
}

.stereotypes p {
    display: inline-block;
    max-width: 540px;
    margin-bottom: 64px;
    vertical-align: top;
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
}

.stereotypes p:not(:last-child) {
    margin-right: 30px;
}

.contact-title {
    padding-left: 40px;
    margin-bottom: 58px;
}

.contact-title:before {
    left: 16px;
}

.map {
    margin-bottom: 57px;
}

.contact h2 {
    margin-left: 30px;
}

.contact {
    padding-top: 65px;
    background-color: #fff;
}

.contact h3 {
    margin-bottom: 30px;
    color: #292f36;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Roboto', 'Tahoma', sans-serif;
}

.contact-text {
    display: inline-block;
    width: 450px;
    margin-bottom: 26px;
    margin-bottom: 96px;

    vertical-align: top;
    color: #8d8f92;
    line-height: 26px;
    font-size: 16px;
}

.contact-text a {
    text-decoration: none;
    color: #8d8f92;
}

.contact-text a:hover {
    text-decoration: underline;
}

.contact-text span {
    color: transparent;
}

.contact-info-text {
  width: 100%;

}

.modal-content-contact-us {
    position: absolute;
    right: 0;
    bottom: 75px;
    width: 495px;
    padding: 30px;
    background-color: #fff;
    margin-left: 585px;
}

.input-area {
    font-size: 0;
}

.name-block,
.mail-block {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.user-name,
.user-mail {
    width: 221px;
    min-height: 40px;
    margin-top: 3px;
    margin-bottom: 30px;
    padding-left: 15px;

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    color: #000;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #eaeef1;
    outline: none;
}

.name-lbl,
.mail-lbl,
.letter-lbl{
    padding-left: 6px;
    font-size: 14px;
    font-family: 'Roboto', 'Tahoma', sans-serif;
    text-transform: uppercase;
    color: #8d8f92;
}

.user-message {
    width: 463px;
    min-height: 129px;
    margin-top: 6px;
    margin-bottom: 30px;
    padding: 15px;

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    color: #000;
    border-radius: 2px;
    background-color: #eaeef1;
}

.send-btn {
    margin-bottom: 8px;
    padding: 14px 25px;
    border: none;
    background: #23b7a4;
}

.send-btn:hover {
    border: none;
    opacity: 0.6;
    cursor: pointer;
}

footer {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: #3a454d;
}

.footer-container {
    padding-top: 40px;
    padding-bottom: 35px;
}

.copyright {
    float: left;
}

.footer-social {
    float: right;
}

.social-btn-footer {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 93px;
}

.vk-icon {
    width: 42px;
    height: 25px;
    margin-right: 30px;

    background: url(../img/social-icon.png);
    background-position: 0px 0px;

    vertical-align: middle;
}

.vk-icon:hover {
    background-position: 0px -105px;
}

.classmates-icon {
    width: 24px;
    height: 40px;

    background: url(../img/social-icon.png);
    background-position: 0px -45px;

    vertical-align: middle;
}

.classmates-icon:hover {
    background-position: 0px -150px;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    font-size: .7em;
    line-height: 1;
}

sup {
    bottom: 1.4ex;
}

sub {
    top: .5ex;
}
